.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
}

.quiz-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quiz-container h2, .quiz-container h3, .quiz-container p {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.quiz-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.quiz-btn:hover {
  background-color: #0056b3;
}

.stop-btn {
  background-color: #dc3545;
}

.stop-btn:hover {
  background-color: #c82333;
}
